<header class="documentHeader row">
  <% document_actions = capture do %>
    <%= render_index_doc_actions document, wrapping_class: "index-document-functions col-sm-3 col-lg-2" %>
  <% end %>

  <p class="index_title document-title-heading <%= document_actions.present? ? "col-sm-9 col-lg-10" : "col-md-12" %>">
    <span class="document-type <%= 'bi bi-files' if document[:page_count].to_i > 1 %>">
      <%= '[' + document[:types].join() + ']' %>
    </span>
    <%= link_to_document document %>
  </p>

  <%= document_actions %>
</header>
