<!-- Viewer -->
<div data-viewer-type="<%=document._source['viewer_type_ssi']%>">
  <% case document._source['viewer_type_ssi'] %>
    <% when 'image' %>
      <%= render partial: 'viewers/uv_image', locals: { document: document } %>
    <% when 'kaltura_audio' %>
      <%= render partial: 'viewers/uv_audio', locals: { document: document } %>
    <% when 'kaltura_video' %>
      <%= render partial: 'viewers/uv_video', locals: { document: document } %>
    <% when 'kaltura_audio_playlist' %>
      <%= render partial: 'viewers/uv_audio_playlist', locals: { document: document } %>
    <% else %>
      <%= render partial: 'viewers/uv_iiif_manifest', locals: { document: document } %>
  <% end %>
</div>

<!-- Metadata Fields -->
<!--
<%= render(
  Blacklight::DocumentMetadataComponent.new(
    fields: document_presenter(document).field_presenters,
    show: true
  )
) %>
-->

<% doc_presenter = document_presenter(document) %>
<hr>

<%= doc_presenter.test_field==true ? "Details" : "" %>
<%# <%= doc_presenter.test_field %>

<% doc_presenter.each_primary_field do |field_name, field, field_presenter| %>
  <%= render "show_fields", document: document, field: field, field_name: field_name, field_presenter: field_presenter %>
<% end -%>

<% doc_presenter.each_secondary_field do |field_name, field, field_presenter| %>
  <%= render "show_fields", document: document, field: field, field_name: field_name, field_presenter: field_presenter %>
<% end -%>
