<!-- Viewer -->
<div data-viewer-type="<%=document._source['viewer_type_ssi']%>">
  <% case document._source['viewer_type_ssi'] %>
    <% when 'image' %>
      <%= render partial: 'viewers/uv_image', locals: { document: document } %>
    <% when 'kaltura_audio' %>
      <%= render partial: 'viewers/uv_audio', locals: { document: document } %>
    <% when 'kaltura_video' %>
      <%= render partial: 'viewers/uv_video', locals: { document: document } %>
    <% when 'kaltura_audio_playlist' %>
      <%= render partial: 'viewers/uv_audio_playlist', locals: { document: document } %>
    <% else %>
      <%= render partial: 'viewers/uv_iiif_manifest', locals: { document: document } %>
  <% end %>
</div>

<!-- Metadata Fields -->
<% doc_presenter = document_presenter(document) %>
<hr>

<div id="item-details">
  <% doc_presenter.config_type(current_locale).each do | type, heading | %>
    <% if doc_presenter.type_arr(type) %>
     <h3><%= heading %></h3>
    <% end %>

    <dl class="px-3">
      <% doc_presenter.each_field( type ) do |field_name, field, field_presenter| %>
        <% next if field_locale(field_name) != current_locale && localizable_field_name?(field_name) %>
        <%= render "show_fields", document: document, field_name: field_name, field_presenter: field_presenter, field: field %>
      <% end -%>
    </dl>
  <% end %>
</div>
